streamlit==1.28.0
openai
streamlit-option-menu
googletrans
google-generativeai
cohere
python-dotenv
bs4
beautifulsoup4
tiktoken
PyMuPDF
chromadb
pysqlite3-binary
PyPDF2
protobuf>=3.20,<5.0
scikit-learn
